.profile__edit-button {
  background-image: url(../../../images/pen-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  align-self: center;
  width: 24px;
  height: 24px;
}

/* Сделать модификатор */
.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width:500px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
