.element__trash-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/trash.svg);
  width: 18px;
  height: 19px;
  align-self: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.element__trash-button:hover {
  background-image: url(../../../images/trash-hover.svg);
}
