.popup__fieldset {
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px 36px;
  border: none;
}

@media screen and (max-width: 600px) {
  .popup__fieldset {
    max-width: 282px;
    padding: 25px 22px;
  }
}
